<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLinkActive="active_link"
            routerLink="/auth"
            >Authenticate</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active_link" routerLink="/user"
            >User</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active_link" routerLink="/admin"
            >Admin</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item ps-4">
              <a class="nav-link" aria-current="page" routerLink="/admin"
                >Admin</a
              >
            </li>
            <li class="nav-item ps-4">
              <a class="nav-link" routerLink="/user">User</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
